# Node and Frontend
node_modules/
dist/


# Python and Backend
.venv/
venv/
venv_311/
__pycache__/
*.py[cod]
*$py.class
sql_app.db
backend/.env
frontend/.env
.env

# Project Specific
PlantVillage/
.gemini/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
